<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.vv.zvv"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".Activity.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme_">
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Activity.XUtilsActivity">
        </activity>
        <activity android:name=".Activity.StorageActivity">
        </activity>
        <activity android:name=".Activity.ExternalStorageActivity">
        </activity>
        <activity android:name=".Activity.SharedPreferenceActivity">
        </activity>
        <activity android:name=".Activity.AsyncTaskActivity">
        </activity>
        <activity android:name=".Activity.DataPikerActivity">
        </activity>
        <activity android:name=".Activity.ProgressActivity">
        </activity>
        <activity android:name=".Activity.DatabaseActivity">
        </activity>
        <activity android:name=".Activity.CursorAdapterActivity">
        </activity>
        <activity android:name=".Activity.SimpleCursorAdapterActivity">
        </activity>
        <activity android:name=".Activity.SimpleAdapterActivity">
        </activity>
        <activity android:name=".Activity.BroadcastActivity">
        </activity>

        <!-- 注册广播 -->
        <receiver android:name=".Utils.MyBroadCastReceiverRegisterInManifest">
            <intent-filter android:priority="900">
                <action android:name="com.vv.zvv_sendBroadcast"/>
            </intent-filter>
        </receiver>

        <activity android:name=".Activity.ServiceActivity">
        </activity>

        <service android:name=".Utils.MyService"/>
        <service android:name=".Utils.MyBoundService"/>

        <activity android:name=".Activity.CountDownTimerActivity">
        </activity>
        <activity android:name=".Activity.EditTextActivity">
        </activity>
        <activity android:name=".Activity.ScrollViewActivity"/>
        <activity android:name=".Activity.SwipeRefreshLayoutActivity">
        </activity>
        <activity
            android:name=".Activity.ListViewDemoActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity android:name=".Activity.MyViewPagerActivity">
        </activity>
        <activity
            android:name=".Views.MyCustomView"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity android:name=".Activity.RetrofitActivity">
        </activity>
        <activity android:name=".Activity.VolleyActivity">
        </activity>
        <activity android:name=".Activity.ThreeExpandableListViewActivity">
        </activity>
        <activity android:name=".Activity.CircularAnimationChartViewActivity">
        </activity>
    </application>

</manifest>